# Отчёт о тестировании Credit Card Number Validator

## Краткое описание

7.08.2021 было проведено Smoke-тестирование приложения Credit Card Number Validator.

На тестирование затрачено: <время в часах>

В результате тестирования выявлены следующие дефекты:
* https://github.com/Natalyaoazis/java-1-1/issues/1
* https://github.com/Natalyaoazis/java-1-1/issues/2


## Описание процесса тестирования

В процессе тестирования использовались следующие артефакты*:
* предоставленный программный код



В качестве тестовых данных использовались данные сайтов www.freeformatter.com, www.getcreditcardnumbers.com.


Тестирование производилось в следующем окружении:
* ОС Windows 10